body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000e5a;
  }

#chatWindow {
    border: #fff;
    box-shadow: 0px 0px 10px 0px white;
    background-color: #000e5a;
    margin: 2% 4%;
    border-radius: 10px;
    padding:2%;
    z-index: 1;
}

.window {
    padding: 25px;
    border: white;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px ;
    margin-bottom: 15px;
    height: 400px
}


/* #rooms {
    margin-left:23px;
    margin-right:-8px
    
} */

#messageWall {
    overflow: auto;
    margin-bottom:1.5%; 
}

#inputSection {
    display: flex;
    margin-bottom:1.5%; 
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0
  }

.sendButton {
    height: 100%;
}

.adminMsg {
    font-style: italic;
    color: grey;
}

@media (min-width: 1024px) {
    #chatWindow {
        margin: 4% 15%;
    }
}

canvas {
    display: inline;
    z-index: -1;
    position: absolute;
}