

#howItWorks {
    color: white;
    padding-top:5%;
    padding-bottom: 10%;
    background-color:#000e5a;
}

#howItWorks p {
    font-size: 20px;
}

#howItWorks h1{
    font-family: ubuntu;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    padding-bottom: 20px;
    
}

#howItWorks a:link {
    color:white;
    text-decoration: underline;
}

a:visited {
    color:white;
    text-decoration: underline;
}