h2 {
    font-size: 2rem;
    line-height: 1.5
}
  /* Title section */
.title {
    background-color: #000e5a;
}

.title h1{
    font-family: ubuntu;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    padding-bottom: 20px;
    
}

.container-fluid {
    padding: 3% 15% 11% 15%;
}

/* Image section  */


.titleImage {
      width: 90%;
      transform: rotate(5deg);
      right: 30%;
      padding-left: 20%;
    
  }

  .downloadButton{
      margin: 5% 3% 5% 0%;
      width: 120px;
  }

/* Features section */

#features {
    padding: 7% 15% 7% 15%;
    text-align: center;
    background-color: #fff;
    position: relative;
    
}

.featureBox{
    padding-left: 7%;
    padding-right: 7%;
}

.icons {
    color:  #524094;
    margin-bottom: 1rem;
}
 
.icons:hover {
    color:  #000e5a;
}

#features p {
    color: #000e5a;

}

#features h3 {
    font-weight: bold;
}




/* Pricing section  */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to action section  */

#cta {
    background-color: #000e5a;
    padding: 5% 15% 5% 15%;
    text-align: center;
}
    

#cta h3 {
    font-family: ubuntu;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}


/* Media queries  */

@media (max-width: 990px) {
    #landing {
        text-align: center;
    }
    .titleImage {
        position: static;
        transform: rotate(0);
        padding-left: 0%;
        width: 60%;
    }
    
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #000e5a;
    font-size: 15px;
    border: 1px solid #000e5a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
