.form-layout {
    padding: 0% 15% 10% 15%;
    background-color: #000e5a;
    color: white;
    
}

.form-container {
    background-color: #000e5a;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px white;
}

